{% extends "base.html" %} 
{% block content %}
<div class="container my-4 py-4">
  <h1 >Login</h1>
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %} {% if next %} {% if user.is_authenticated %}
  <p>
    Your account doesn't have access to this page. To proceed, please login with
    an account that has access.
  </p>
  {% else %}
  <p>Please login to see this page.</p>
  {% endif %} {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <!-- <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table> -->

    <div class="col-4 my-2">
      <label for="username" class="my-2"> <strong> {{ form.username.label_tag }} </strong></label>
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Enter Username"
      />
    </div>

    <div class="col-4 my-2">
      <label for="password2" class="my-2">
        <strong> {{ form.password.label_tag }} </strong></label
      >
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Enter Password"
      />
    </div>

    <input type="submit" value="login" class="btn btn-primary my-3 ps-4 pe-4"  />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
</div>
{% endblock %}
