{% extends 'base.html' %} {% block content %}
<div id="content" class="colM container my-4">
  {% if validlink %}
  <h1>Enter new password</h1>

  <p>
    Please enter your new password twice so we can verify you typed it in
    correctly.
  </p>

  <form method="post">
    {% csrf_token %}

    <div class="col-4 my-2">
      <label for="password" class="my-2"> <strong>New Password</strong></label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Enter Password"
      />
    </div>

    <div class="col-4 my-2">
      <label for="password2" class="my-2">
        <strong>Confirm password:</strong></label
      >
      <input
        type="password"
        class="form-control"
        name="password2"
        placeholder="Confirm Password"
      />
    </div>

    <button type="submit" class="btn btn-primary my-3">
      Change my password
    </button>
  </form>
</div>
{% else %}

<h1>Password Reset Unsuccessful</h1>
<p>The password reset link is invalid . Please request a new password reset .</p>
{% endif %}
{% endblock %}
