{% extends 'books/base.html' %} 
{% block title %}
BookStore - {{book.title}}
{% endblock %}
{% block content %}

    <div class="container my-3 py-3"  >

        <div class="row">
            <div class="col-3 my-4 py-4"><div class="text-center">
                <img src="{{book.thumbnailUrl}}" alt="" width="200" />
            </div>
        </div>
            <div class="col-9">
                <h1>Book Title : {{book.title}}</h3>
                    <br>
                    <h3>ISBN No: {{book.isbn}}</h3>
                    <h3>Published Date : {{book.publishedDate}}</h3>
                    <h3>Page Count: {{book.pageCount}}</h3>
                    <br>
                    <h5>About : {{book.shortDescription}}</h5>
                    <br>
                    <p><strong>Description</strong> : {{book.longDescription}}</p>
                    <br>
                    <h5>Book Status :{{book.status}}</h5>
                    <br>

                    <h5>Authors : </h5>
                    {% for author in authors %}
                    {{author}} ,
                    {% endfor %}
                    <br> <br>
                    <h5>Categories : {{book.categories}}</h5>

                    <br>
                    <form method="POST" action="{% url 'review' book.id %}">
                      {% csrf_token %}
                      <div class="mb-3">
                        <textarea class="form-control" name="review" rows="5" placeholder="Enter your Review here"></textarea>
                      </div>
                      <div class="d-grid gap-2 col-3 mx-auto"">
                        <button type="submit" class="btn btn-dark">Submit</button>
                      </div>
                    </form>

                    <br>
                    <h3>Reviews : </h3>
                    <ul>

                      {% for review in book.review_set.order_by %}
                      <li>{{review.body}}</li>
                      {% endfor %}
                    </ul>
                   
            </div>
          </div>

          <!-- Review Form -->

         

       
        </div>
            
{% endblock %}