{% extends 'base.html' %}
 {% block title %} BookStore - Books {% endblock %} 
 {% block content %}

<h1 class="text-center">Programming Books</h1>

<div class="container">
  <div>
    <div class="row">
      {% for book in books %}
      <div class="col-3 pb-3 mt-4">
        <a
          href="{% url 'book_details' book.id %}"
          class="text-decoration-none text-reset"
          target="_blank"
        >
          <img src="{{book.image.url}}" alt="" width="200" />
          <p><strong>{{book.title}}</strong></p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
